.Bgc\(\#ff6b00\) {
  background-color: #ff6b00;
}
.C\(\#000\) {
  color: #000;
}
.D\(f\) {
  display: flex;
}
.Ai\(c\) {
  align-items: center;
}
.Jc\(c\) {
  justify-content: center;
}
.Fz\(15vw\) {
  font-size: 15vw;
}
.Ta\(c\) {
  text-align: center;
}
.Tt\(u\) {
  text-transform: uppercase;
}
.W\(100\%\) {
  width: 100%;
}
